TEST_WEB_PORT=8081
TEST_DB_PATH=~/ecosystem/lib_mysql/TEST/

MYSQL_HOST=TEST-mariadb
MYSQL_DATABASE=TEST
MYSQL_ROOT_PASSWORD=secret
MYSQL_USER=TEST
MYSQL_PASSWORD=secret

ENV=development
IMAGE_TAG=latest